/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color : #a86e3b;
    --secondary-color : #fff;
    --color-footer : #FAF5F0;
    --text-black : #000;
    --text-white: #fff;
    --text-sec:#EBDCBF;
    --text-grey:#555;
    --white-color : #fff;
    --white-light : #faf5f0;
    --primary-font : "Cinzel", serif;
    --secondary-font : "Roboto", serif;
    
}

html{
    scroll-behavior : smooth;
}

body{
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0;
}

a{
    color: var(--text-black);
    text-decoration: none;
}

a:hover{
    color: var(--primary-color) !important;
    text-decoration: none;
}

h1{
    font-size: 4rem;
    font-weight:600;
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--text-black);
}


h2{
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--text-black);
    padding-top: 1rem;
}

h3{
    font-size: 1.5rem;
    font-weight:400;
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--text-black);
    padding-inline: 1rem;
}

h4{
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: var(--text-black);
    font-family: var(--secondary-font);

}

h5{
    font-size: .85rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    color: var(--text-black);
    font-family: var(--secondary-font);
}

button button:focus{
      outline: none;
}

p{
    font-size: 1rem;
    font-family: var(--secondary-font);
    color: var(--text-black);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}   

.main-btn{
    display: inline-block;
    padding: 0.6rem 1.87rem;
    line-height: 1.5rem;
    background-color: var(--primary-color);
    border: 0.18rem solid var(--primary-color);
    color:var(--white-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.18);
    transition: all .45s ease-out 0s;
}

.white-btn{
    display: inline-block;
    padding: 0.6rem 1.87rem;
    line-height: 1.5rem;
    /* background-color: transparent; */
    z-index: 2;
    border: 0.18rem solid var(--text-black);
    color:var(--text-black);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.18);
    transition: all .45s ease-out 0s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.fourth {
  border: 3px solid rgb(25, 155, 25);
  width: 100px;
  height: 40px;
  display: flex;
  
  background-color: white;
  background: none;
  position: relative;
}

.white-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* border: 0.18rem solid var(--text-black); */
  border-radius: 0.18rem;

  background-color: var(--text-black);
  z-index: -1;
  transition: width 600ms ease-in-out;
}

.white-btn:hover::before {
  width: 100%;
  /* border: 0.18rem solid var(--text-black); */

}



.main-btn:hover{
    background-color: var(--text-black);
    color: transparent;
}

.white-btn:hover{
    /* background-color: var(--text-black); */
    border: 0.18rem solid var(--text-black);

    color: var(--text-sec);
}

.nav-item{
    position: relative;
}

.nav-link{
    font-family: var(--secondary-font);
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0rem 2rem ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.text-link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    /* width:100%; */
    background: var(--primary-color);
    transform: translateY(53px) ;
    transition: width 400ms ease-in-out;

}

.text-link:hover::before{
    width: 98%;
}


.myBorder{
    border: 4px solid red;
}

.nav-wrap{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--color-footer);
    z-index: 1000;
}


.nav-link .search{
    width: 1.5rem;
    transition: fill 0.3s ease;

}

.nav-link .search:hover{
    fill: var(--primary-color);
}

.basket{
    position: relative;
    transition: fill 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket svg{
width: 1.75rem;
}

.basket .cart-number{
    position: absolute;
    top: 1rem;
    right: -0.7rem;
    background-color: var(--text-black);
    color: var(--text-white);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    transition: fill 0.3s ease;
}


.collapse{
    height: 70px;
}
/* .basket::after {
    content: '0';
    position: absolute;
    top: 1rem;
    right: -0.5rem;
    background-color: var(--text-black);
    color: var(--text-white);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    transition: fill 0.3s ease;
} */

.basket:hover .cart-number{
    background-color: var(--primary-color);
}
.basket:hover svg{
    fill: var(--primary-color);
}

.collapableStyle{
    .nav-link{
        border: 2px 0px 2px 0px solid black;
    }
}

.hero-section{
    /* margin-top: 40px; */
    position: relative;
    height:75vh;
    background: url(../Assets/hero.jpg) no-repeat center;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section .container{
    height: 140%;
}

.hero-text{
    position: absolute;
    top: 20%;
    left: 20%;
    max-width: 520px;
    min-width: 200px;
}

/* .trending .wrapper{
        padding: 5rem 0 0rem;

} */

.wrapper{
    padding: 8rem 0 5rem;
}
#best-selling .wrapper{
    padding: 7rem 0 8rem;
}







/* 
.carousel-row{
    position: relative;
    padding-top: 10%;
    overflow: hidden;

}
.carousel-primary,.carousel-secondary{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    top: 0%;
    left: 0%;
    position: absolute;
    /* width: 1 */
    /* height: fit-content; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* wrap: nowrap; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
/* }
*/

 .logo-scroller-section {
            padding: 0px 10px;
            height: 150px;
            /* background: linear-gradient(135deg, #1a2a6c, #b21f1f, #1a2a6c);*/
            background: transparent;
            overflow: hidden;
            position: relative;
            /* box-shadow: 0 10px 30px rgba(0,0,0,0.3); */
            border-top: 3px solid rgba(255,255,255,0.1);
            border-bottom: 3px solid rgba(255,255,255,0.1);
        }
        
        .scroller {
            display: flex;
            position: absolute;
            top: 20px;
            left: 0;
            height: 100%;
            animation: scroll 20s linear infinite;
        }
        
        .scroller-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 150%;
            /* padding: 0; */
            /* padding: 0 15px; */
            transition: transform 0.3s ease;
        }
        
        
        .scroller-item:hover {
            transform: scale(1.1);
        }
        
        .logo {
    
            filter: drop-shadow(0 5px 10px rgba(247, 245, 245, 0.2));
            transition: all 0.3s ease;
        }
        
        .logo:hover {
            filter: drop-shadow(0 8px 15px rgba(8, 7, 7, 0.4)) brightness(1.1);
        }
        
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(-50%); }
        }



.carousel-primary{
    animation: horizontal-scroll 20s linear infinite;

}

.carousel-secondary{
    animation: horizontal-scroll 20s linear infinite;
    animation-delay: 20s;
}


@keyframes horizontal-scroll {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
    
}

.card-container .card i{
    z-index: 23;
    top: 0.8rem;
    right: 1rem;
    font-weight: 400;
    position: absolute;
    color: var(--text-black);
    font-size: 1rem;
    /* visibility: hidden; */
    transition: transform .5s ease-in-out;
}

.card-container .card:hover i{
    transform: scale(2);
}

.card {
        border: none;
        /* border-radius: 8px; */
        overflow: hidden;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        max-width: 350px;
        background: white;
        }
        
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
        }
        
        .image-container {
            position: relative;
            width: 100%;
            padding-top: 120%; /* 1:1 aspect ratio (square) */
            overflow: hidden;
            background: #f8f9fa;
        }
        
        .product-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 
                opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1),
                transform 1s cubic-bezier(0.23, 1, 0.32, 1);
            will-change: transform, opacity;
            backface-visibility: hidden;
        }
        
        .primary {
            opacity: 1;
            transform: scale(1) translateZ(0);
        }
        
        .hover {
            object-fit:inherit;

            opacity: 0;
            transform: scale(1.1) translateZ(0);
        }
        
        .card:hover .primary {
            opacity: 0;
            transform: scale(0.95) translateZ(0);
        }
        
        .card:hover .hover {
            opacity: 1;
            transform: scale(1) translateZ(0);
        }


.trending .card span{
    font-size: 1rem;
    display: block;
}

.trending .card span del{
    color:  var(--text-grey);
}


.unique .white-btn{
    border: 0.18rem solid var(--text-black);
}
.unique .white-btn:hover{
    color: var(--white-color);
}

.unique h2{
    padding-right: 6rem;
}

.unique-img{
    height: 760px;
    max-height: 760px;
    background: url(../Assets/bg-01.jpg) no-repeat center;
    background-size: cover;
}

.overlay-img{
    position:absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    height: 500px;
    max-height: 500px;
    background: url(../Assets/bg-02.jpg) no-repeat center;
    background-size: cover;
}





.why-we p{
    font-size: 1.5rem;
    font-family: var(--primary-font);
    color: var(--text-black);
    font-weight: 400;
    line-height: 1.75rem;
}

.features{
   margin-top: 4rem; 
}
.features h3{
    padding: 0;
}

.features p{
    font-family:var(--secondary-font);
    font-weight: 300;
    /* border: 2px solid blue; */
    font-size: .9rem
}
     
.footer{
    padding: 4rem 0;
    background-color: var(--color-footer);
    border-top: 1px solid #d4d1cf;
}


.footer a{
    display: block;
    font-family: var(--secondary-font);
    padding: .5rem;
    color: var(--text-grey);
}

.footer-logo a{
    font-size: 2rem;
    
}

/* offCanvas styling */

.offcanvas-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--text-black);
    padding: 0;
}

.offcanvas-body .item-row{
    position: relative;
    padding: .25rem;
    max-height: 10rem;
    margin: 1rem .3rem 0rem;
}

.offcanvas-body .item-row::after{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #555;
}

.offcanvas-body .item-row img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.offcanvas-body .item-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #555;
}

.offcanvas-body .white-btn{
    padding: 0.3rem 1rem;
    border: none;
    font-size: 1rem;

}

/* .offcanvas-body .cart-list{
    overflow: scroll;
} */

.cart-close-btn{
    border: none;
    outline: none;
    
}


.remove-item-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    top: 0.2rem;
    right: 0.75rem;
}

.remove-item-btn i{
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-black);
}

.subtotal-row{
    width: 90%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}


.side-cart-btn{
    bottom: -4rem;
    width: 100%;
    z-index: 5;

    /* justify-self: flex-end;

    align-self: flex-end; */
}
.side-cart-btn .main-btn{
    transform: translateX(1rem);
    scale: .9;
    font-size: 1.5rem;
}

.side-cart-btn .main-btn:hover{
    color: var(--text-white)
}

.offcanvas-body .payables{
    background-color: #EBDCBF;
    position: fixed;
    bottom: 0;
    width: 399px;
    right: 0;
    z-index: 3;
}

/* .payables-btn{
    width: 100%;
    position: fixed;
    bottom: 2%;
} */
.product-image {
  transition: opacity 0.3s ease;
}

/* Optional crossfade effect */
.product-card {
  position: relative;
}

.product-img {
  /* position: absolute; */
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.product-image.hover {
  opacity: 0;
}
.offcanvas-body .cart-list{
    margin-bottom: 280px;
    padding-top: 0;
}

/* .product-img:hover{
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    filter: brightness(1.09);
    opacity: 0.8;
    transform: scale(1.05);
    will-change: filter,opacity,transform;
    transition-duration: 0.6s 0.6s 0.6s;
    transition-delay: 1s;
    transition-behavior: normal normal normal;
    /* transform: scale(1.05); */
